<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicinal data</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .custom-container {
            transition: all 0.3s ease;
        }

        .custom-container:hover {
            border-color: #CBD5E0;
            transform: scale(1.05);
        }
    </style>
</head>

<body class="bg-gray-100">
    <div class="container mx-auto mt-8 flex flex-wrap justify-center">
        {{ data | safe }}
    </div>
</body>

</html>
    